Dataset source - This data set is located in a website "https://www.kaggle.com/datasets/gabrielkclasson/wikidata-human-settlements" and it is named Kaggle and the dataset tittle is "Wikidata Human Settlements" 

Data Completeness:
This dataset it allows for a broad analysis of trends and patterns related to Human settlements. The dataset covers multiple years, providing a temporal aspect to the analysis which is crucial for understanding changes over time.

Relevance:
This dataset is relevant to the theme of human settlements becouse it directly shows the proportion of the  human settlement in Burwan community development. This is a critical show a human settlements. This dataset it for Burwan community, making it possible to perform comparative analysis and identify regional pettens.


Credibility:
The World Bank is a reputable international organization known for its strict data collection and validation processes. Data from the World Bank is widely used in research and policy-making. The credibility of the source ensures that the data is reliable and suitable for serious analysis.

Relevant Columns:
Two columns in our analysis that are relevent:
english_label country: This colomn identify the country in English
admin_div : This colomn provide the ID for the division

In [7]:
import pandas as pd

# Specify the path to your CSV file
csv_file_path = "C:/Users/thale/Desktop/TP Test 2/allbucket1.csv"

# Try reading the CSV file with a different encoding
data = pd.read_csv(csv_file_path, encoding='ISO-8859-1')

# Display the first few rows of the dataframe
print(data.head(1000))

            id   english_label country     admin_div  latitude  longitude  \
0    Q60438320  Nandi Baneswar    Q668  ['Q5001033']       NaN        NaN
1    Q60438328         Andulia    Q668  ['Q5001033']       NaN        NaN
2    Q60438334         Gafulia    Q668  ['Q5001033']       NaN        NaN
3    Q60438339         Belgram    Q668  ['Q5001033']       NaN        NaN
4    Q60438341           Togra    Q668  ['Q5001033']       NaN        NaN
..         ...             ...     ...           ...       ...        ...
995  Q60499303    Raghunathpur    Q668  ['Q6400153']       NaN        NaN
996  Q60499312        Ramnagar    Q668  ['Q6400153']       NaN        NaN
997  Q60499338      Shrirampur    Q668  ['Q6400153']       NaN        NaN
998  Q60499359    Jagannathpur    Q668  ['Q6400153']       NaN        NaN
999  Q60499364    Chhatrashali    Q668  ['Q6400153']       NaN        NaN

                                          english_desc parent_classes
0    human settlement in Burwan community developme...  ['Q56436498']
1                                                  NaN  ['Q56436498']
2    human settlement in Burwan community developme...  ['Q56436498']
3                                                  NaN  ['Q56436498']
4    human settlement in Burwan community developme...  ['Q56436498']
..                                                 ...            ...
995                                                NaN  ['Q56436498']
996                                                NaN  ['Q56436498']
997                                                NaN  ['Q56436498']
998                                                NaN  ['Q56436498']
999  human settlement in Khanakul I community devel...  ['Q56436498']

[1000 rows x 8 columns]