In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

# Load the dataset
filepath = "C:/Users/thale/Desktop/TP Test 2/allbucket1.csv"
data = pd.read_csv(filepath, encoding='ISO-8859-1')

# Understanding the dataset
print("Dataset Size: ", data.shape)
print("Column Names: ", data.columns)  # Print column names
print("Data Types: \n", data.dtypes)
print("First few rows: \n", data.head())

# Identifying missing data
missing_data = data.isnull().sum()
print("Missing data: \n", missing_data)

# Normalizing or standardizing data

if 'human' in data.columns:
    # Assuming 'human settlement in Brazil' is a column that needs to be standardized
    population_data = data['human'].values.reshape(-1, 1)  # Reshape to 2D array for StandardScaler
    scaler = StandardScaler()
    standardized_population = scaler.fit_transform(population_data)
    data['standardized_population'] = standardized_population
else:
    print("Column 'human ' not found in the dataset.")


if 'standardized_population' in data.columns:
    print("Data type used in machine learning for 'standardized_population':", data['standardized_population'].dtype)
else:
    print("Column 'standardized_population' not found in the dataset.")

Dataset Size:  (980000, 8)
Column Names:  Index(['id', 'english_label', 'country', 'admin_div', 'latitude', 'longitude',
       'english_desc', 'parent_classes'],
      dtype='object')
Data Types:
 id                 object
english_label      object
country            object
admin_div          object
latitude          float64
longitude         float64
english_desc       object
parent_classes     object
dtype: object
First few rows:
           id   english_label country     admin_div  latitude  longitude  \
0  Q60438320  Nandi Baneswar    Q668  ['Q5001033']       NaN        NaN
1  Q60438328         Andulia    Q668  ['Q5001033']       NaN        NaN
2  Q60438334         Gafulia    Q668  ['Q5001033']       NaN        NaN
3  Q60438339         Belgram    Q668  ['Q5001033']       NaN        NaN
4  Q60438341           Togra    Q668  ['Q5001033']       NaN        NaN

                                        english_desc parent_classes
0  human settlement in Burwan community developme...  ['Q56436498']
1                                                NaN  ['Q56436498']
2  human settlement in Burwan community developme...  ['Q56436498']
3                                                NaN  ['Q56436498']
4  human settlement in Burwan community developme...  ['Q56436498']
Missing data:
 id                     0
english_label     287586
country            23435
admin_div         130500
latitude          264717
longitude         264717
english_desc      175008
parent_classes         0
dtype: int64
Column 'human ' not found in the dataset.
Column 'standardized_population' not found in the dataset.

### Data Types Used in Machine Learning

In machine learning, datasets often contain various types of data, each with its own significance.

1. **Categorical Data:**
   - The column 'country' represents categorical data. Categorical data consists of discrete categories and is commonly used in classification tasks in machine learning.

2. **Numerical Data:**
   - The column 'population' contains numerical data. Numerical data represents continuous values and is essential for regression analysis, where the goal is to predict a continuous outcome.
     
3. **Text Data:**
   - The column 'description'contain text data, such as descriptions of human settlements.

These are just a few examples of data types commonly encountered in machine learning tasks.